@import "loading-wheel.css";

@primary-color: #FA9539;
@secondary-color: #32BCDB;
@background-color: #F0EAE1;
@dark-primary-color: #E37A1D;
@light-primary-color: #F8B57A;
@dark-secondary-color: #04588F;
@dark-grey-color: #888;
@light-grey-color: #EEE;

@header-height: 85px;

html, body {
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;

  & .fixed-alert {
    position: fixed;
    width: 100%
  }
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: @background-color;

  & .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;

    & .navbar {
      width: 100%;
      background-color: @primary-color;
      height: @header-height;
      display: flex;
      flex-direction: row;
      border-radius: 0;
      margin: 0;

      & .navbar-title {
        font-size: 36px;
        font-weight: 700;
        padding-left: 50px;
        width: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        color: white;
      }

      & .navbar-nav {
        margin-top: auto;
        margin-bottom: auto;
        list-style-type: none;

        & .nav-item {
          width: 100px;
          margin-left: auto;
          margin-right: auto;
          display: flex;

          & .nav-button {
            padding: 10px;
            width: 100%;
            text-align: center;
            color: white;
            text-decoration: unset;
          }

          &:hover {
            background-color: @dark-primary-color;
            cursor: pointer;
            border-radius: 5px;
          }
        }
      }

      & .profile-dropdown {
        display: flex;
        margin-left: auto;
        padding-right: 50px;

        .user-menu .dropdown-menu {
          max-height: 0;
          transition: max-height 0.15s ease-out;
          overflow: hidden;
          display: block;
        }

        &:hover .dropdown-menu {
          max-height: 500px;
          transition: max-height 0.25s ease-in;
        }

        & .user-menu {
          margin-top: auto;
          margin-bottom: auto;

          & img.avatar {
            vertical-align: middle;
            height: 54px;
            width: 54px;
            transition: all .2s ease-in-out;

            &:hover {
              transform: scale(1.15);
            }
          }

          & .dropdown-menu {
            left: unset;
            right: 0;
            box-shadow: unset;
            border: unset;
            background-color: @primary-color;
            min-width: 190px;
            border-radius: 0 0 0 8px;
            margin: 0 -1px 0 0;
            padding: 0;

            & > li {
              & .glyphicon {
                margin-top: auto;
                margin-bottom: auto;
                color: white;
              }
              & div.item-title {
                padding: 15px 20px;
                color: white;
                background-color: unset !important;
                text-decoration: unset !important;
              }
              & a.item-link {
                display: flex;
                width: 100%;
                background-color: @primary-color;
                &:hover {
                  background-color: @dark-primary-color;
                }
              }
            }

            & > li.divider {
              background-color: white !important;
              margin: 0;
            }
          }
        }
      }
    }
  }

  & div.login-container {
    height: auto;
    margin-bottom: auto;
    margin-top: auto;

    & h2 {
      text-align: center;
      color: @primary-color;
    }

    & button {
      background-color: @primary-color;
      border-color: @primary-color;
      font-weight: bold;
      color: white;
    }

    & .btn-link {
      color: @dark-primary-color;
    }
  }

  & .basic-page {
    width: 100%;
    height: 100%;
    overflow: auto;

    & .home-page, .community-page, .my-levels-page {
      padding-top: 20px;
      padding-bottom: 20px;

      & .level-list {

        & .user-actions-container {
          padding: 15px;
          display: flex;

          & .search-box {
            max-width: 300px;
          }

          & .dropdown {
            margin-left: 50px;
          }
        }

        & .list-group {
          margin-bottom: 0;

          & .list-item-container {

            & .list-item-header {
              border: 0;
              display: flex;

              & .level-header-title {
                width: fit-content;
                max-width: 80%;
                min-width: 60%;
              }

              & .level-meta-data {
                margin-left: auto;
                padding: 15px;
                display: flex;

                & .community-votes {
                  display: flex;
                  width: auto;
                  & span {
                    margin-left: auto;
                  }
                  & .up-votes-count {
                    margin-left: auto;
                    padding-top: 3px;
                    color: @dark-secondary-color;
                    padding-right: 6px;
                  }
                }

                & .difficulty-stars {
                  margin-left: 24px;
                  min-width: 5em;
                }
              }

              &:hover {
                background-color: @light-grey-color;
                cursor: pointer;
              }
            }

            & .list-item-details {
              background-color: @light-grey-color;
              display: flex;
              padding-top: 20px;
              padding-bottom: 20px;

              & .list-item-statement {
                margin-bottom: 0;
                border-radius: 0;
                border: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                background-color: unset;
                text-align: justify;
              }

              & button.btn {
                margin: auto;
                width: 72px;
                height: 72px;
              }
            }
          }
        }
      }

      & button.create-level-button {
        position: fixed;
        bottom: 5%;
        right: 5%;
        width: 64px;
        height: 64px;
      }
    }

    & .level-page {
      padding: 0;
      height: calc(100% - @header-height);
      width: 100%;
      margin-top: @header-height;
      position: fixed;
      top: 0;

      & .level-page-row {
        height: 100%;
        width: 100%;
        margin: 0;

        & .playground {
          height: 100%;
          padding: 0;

          & .playground-code {
            height: 65%;
            overflow: auto;

            & div.first-tree {
              position: relative;
              padding-top: 15px;
              margin-top: -16px;
              width: fit-content;
              min-width: 100%;
            }

            & div.tree {
              position: relative;
              margin-left: 2em;
              padding-top: 15px;
              margin-top: -16px;
            }

            & div.empty-droppable-target {
              min-height: 32px;
              width: 100%;
            }

            & .instruction-print-placed {
              display: flex;

              & b {
                margin: auto 8px;
              }

              & input {
                max-width: 200px;
                min-width: 30px;
              }

              & input.print-value {
                border: 1px solid lightgray;
                min-height: 28px;
                padding-left: 4px;
                padding-right: 4px;
                border-radius: 0 4px 4px 0;
              }

              & .type-dropdown {
                width: auto;
                min-width: 100px;

                & div.css-vj8t7z {
                  border-radius: 0;
                  margin-left: -1px;
                  margin-right: -1px;
                }
              }
            }

            & .instruction-operation-placed {
              display: flex;

              & input {
                max-width: 100px;
                min-width: 30px;
              }
            }

            & .instruction-variable-placed {
              display: flex;

              & b {
                margin: auto 8px;
              }

              & input {
                max-width: 100px;
                min-width: 30px;
              }

              & input.variable-name {
                border: 1px solid lightgray;
                min-height: 28px;
                padding-left: 4px;
                padding-right: 4px;
                border-radius: 0 4px 4px 0;
              }

              & .type-dropdown {
                width: auto;
                min-width: 100px;

                & div.css-vj8t7z {
                  border-radius: 0;
                  margin-left: -1px;
                  margin-right: -1px;
                }
              }
            }

            & .instruction-if-placed {
              display: flex;

              & b {
                margin: auto 8px auto 0;
              }

              & div.predicate {
                display: flex;
                margin-top: auto;
                margin-bottom: auto;

                & input.left {
                  border-top-left-radius: 4px;
                  border-bottom-left-radius: 4px;
                  border: 1px solid lightgray;
                  padding-left: 4px;
                  padding-right: 4px;
                }

                & input.right {
                  border-top-right-radius: 4px;
                  border-bottom-right-radius: 4px;
                  border: 1px solid lightgray;
                  padding-left: 4px;
                  padding-right: 4px;
                }

                & .operator-dropdown {
                  width: auto;
                  min-width: 80px;
                  border-radius: 0;

                  & div.css-vj8t7z {
                    border-radius: 0;
                    margin-left: -1px;
                    margin-right: -1px;
                  }
                }
              }
            }

            & .instruction-for-placed {
              display: flex;

              & b {
                margin: auto 8px auto 8px;
              }

              & input {
                max-width: 65px;
                min-width: 30px;
              }

              & input.loop-variable-name {
                border: 1px solid lightgray;
                min-height: 28px;
                padding-left: 4px;
                padding-right: 4px;
                border-radius: 0 4px 4px 0;
              }

              & .loop-variable-type-dropdown {
                width: auto;
                min-width: 95px;

                & div.css-vj8t7z {
                  border-radius: 0;
                  margin-left: -1px;
                  margin-right: -1px;
                }
              }

              & input.loop-condition-left {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border: 1px solid lightgray;
                padding-left: 4px;
                padding-right: 4px;
                max-width: 85px;
              }

              & input.loop-condition-right {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border: 1px solid lightgray;
                padding-left: 4px;
                padding-right: 4px;
                max-width: 85px;
              }

              & .loop-condition-operator-dropdown {
                width: auto;
                min-width: 80px;
                border-radius: 0;

                & div.css-vj8t7z {
                  border-radius: 0;
                  margin-left: -1px;
                  margin-right: -1px;
                }
              }
            }
          }

          & .playground-instructions {
            height: calc(35% - 30px);
            border-top: 1px solid lightgray;
          }

          & .remove-instruction-panel {
            height: 30px;
            background-color: #BBBBBB;
            overflow: visible;
            transition: all 250ms;

            & .glyphicon {
              font-size: 20px;
              color: black;
              margin: auto;
            }

            & .remove-instruction-content {
              width: 100%;
              height: 100%;
              padding-top: 4px;
              padding-bottom: 4px;
              display: flex;
            }

            & .isOver {
              background-color: red;
            }
          }

          & .instruction {
            background: white;
            border: 1px solid #ccc;
            padding: 1em;
            margin-bottom: -1px;
          }

          & .instruction-default {
            display: inline-block;
            background: white;
            border: 1px solid #ccc;
            padding: 1em;
            border-radius: 4px;
            text-align: center;
            width: 48%;
            margin: 2px 1%;
          }
        }

        & .scrolling-panel {
          padding: 0;
          height: 90%;
          top: 0;
          overflow: auto;
          border-left: 1px solid lightgray;

          & .statement {
            height: auto;
            padding: 0 8px 8px;

            & h3 {
              text-align: center;
            }

            & p {
              text-align: justify;
            }

            & .glyphicon {
              position: relative;
              margin-bottom: auto;
              margin-top: auto;
              color: #000;
              margin-left: 16px;
              padding-top: 8px;
            }

            & .glyphicon:hover {
              cursor: pointer;
              color: @primary-color;
            }
          }

          & .generated-code {
            height: auto;
            min-height: 50%;
            padding: 8px;
            background-color: #E8E8E8;

            & h3 {
              text-align: center;
            }

            & p {
              text-align: justify;
            }
          }

        }

        & .submission-collapsed {
          width: 41.667%;
          text-align: center;
          background-color: lightgray;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 100;
          height: 5em;
          display: flex;
          transition: all 500ms;

          & .content {
            width: 100%;
            height: 100%;

            & div {
              width: 100%;
              height: 100%;
              display: flex;

              & button {
                width: 65%;
                margin: auto;
                height: 4em;
              }

              & .expand {
                position: relative;
                margin-top: auto;
                margin-bottom: auto;
                right: 16px;
                color: #000;
                &:hover {
                  color: @primary-color;
                  cursor: pointer;
                }
              }
            }
          }
        }

        & .submission-expanded {
          width: 41.667%;
          text-align: center;
          background-color: lightgray;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 100;
          height: 100%;
          display: flex;
          transition: all 500ms;

          & .content {
            width: 100%;
            height: 100%;

            & .expanded {
              width: 100%;
              height: 100%;
              display: flex;

              & .close {
                right: 16px;
                top: 24px;
                position: absolute;
                color: #000;
                opacity: 1!important;
                &:hover {
                  color: @primary-color;
                  cursor: pointer;
                }
              }

              & div.success {
                width: 100%;

                & h3 {
                  text-align: center;
                }

                & button {
                  width: 90%;
                  padding: 16px;
                }
              }

              & div.error{
                width: 100%;
              }
            }
          }
        }
      }
    }

    & .profile-page {
      padding-top: 3%;

      & .profile-container {
        display: flex;
      }

      & .profile-data-container {
        padding-left: 20%;
        width: 60%;

        & .data-container {
          display: flex;
          padding-top: 30px;

          & .form-control {
            width: unset;
          }

          & .data-title {
            font-weight: 600;
            padding-right: 40px;
            text-transform: uppercase;
            margin-top: auto;
            margin-bottom: auto;
            min-width: 200px;
          }
        }
      }

      & .action-buttons {
        float: right;
        padding-top: 10%;
      }

      & .avatar-upload {

        & img.avatar-picture {
          height: 256px;
          width: 256px;
          cursor: pointer;

          &:hover {
            -webkit-filter: blur(2px) brightness(70%);
            filter: blur(2px) brightness(70%);

            -moz-transition: opacity 0.7s;
            -webkit-transition: 0.7s;
            -o-transition: opacity 0.7s;
          }
        }
      }
    }

    & .create-level-page {
      width: 60%;
      margin-left: auto;
      margin-right: auto;

      & .main-input-container {
        display: flex;

        & .form-title {
          width: 57%;
        }

        & .form-stars {
          display: flex;
          margin-right: auto;
          margin-left: auto;

          & label {
            margin-top: auto;
            margin-bottom: auto;
          }

          & .rating {
            float: left;
            padding-left: 30px;
          }

          & .difficulty-stars {
            padding-left: 30px;

            & .glyphicon {
              font-size: 23px;
              color: #333;
              padding-left: 5px;
              position: relative;
              width: 1.3em;
              top: 48%;
              transform: translateY(-50%);
            }

          }
        }
      }

      & .form-statement textarea {
        resize: none;
      }

      & .form-input {
        width: 10%;
      }

      & .ace_editor {
        border-radius: 5px;
      }

      .form-actions  {
        max-width: unset;
        float: right;
        padding-top : 20px;
        & button {
          padding: 15px;
          width: 130px;
        }
      }

    }

    & .leaderboard-page {
      padding-top: 10px;

      & .table {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;

        & .user-row {
          border: 2px solid @primary-color;
        }

        & tr th,td {
          vertical-align: unset;
        }

        & .rank-field {
          width: 12%;
        }

        & .avatar-container {
          width: 0%;
        }

        & .name-field {
          width: 60%;
        }

        & .score-field {
          width: 18%;
        }
      }
    }

    & .my-levels-page {
      & .level-list .list-item-header {
        background-color: #fff !important;
        cursor: unset !important;

        &:hover .trash-button {
          visibility: visible;
        }
      }

      & .trash-button {
        margin-left: auto;
        padding: 15px;
        cursor: pointer;
        visibility: hidden;

        & .glyphicon-trash {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          font-size: 37px;
        }
      }

      & .community-votes {
        display: flex;

        & .glyphicon-thumbs-up {
          padding-left: 10px;
        }
      }
    }

    & .achievements-page {

      & .achievement-item {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;

        & .list-group-item {
          display: flex;

          & .achievement-header-title {
            & p {
              color: @dark-grey-color;
            }
          }

          & .badge-picture {
            max-height: 120px;
            margin-left: auto;
            padding-right: 20px;
          }
        }
      }

      & .--locked .list-group-item{
        background-color: #DDD;
      }
    }

    & .alert {
      width: 97%;
      margin: 5px auto;
    }
  }

  & .page-title {
    text-align: center;
  }
}

.file-selector {
  display: none !important;
}

.avatar-picture-default {
  object-fit: cover;
  background: white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.btn-primary {
  margin: 10px;
  background-color: @primary-color;
  border-color: unset;

  &:focus {
    background-color: @primary-color;
    border-color: unset;
  }
  &:hover, :active {
    background-color: @dark-primary-color !important;
    border-color: unset !important;
  }
}

.btn-cancel {
  color: @dark-grey-color;

  &:focus {
    color: @dark-grey-color;
  }
  &:hover, :active {
    color: @dark-grey-color;
  }
}

& button.circle-button {
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 50%;
  background-color: @primary-color;
  transition: all .2s ease-in-out;

  & span {
    color: white;
    font-size: 2em;
    padding-left: 8%;
  }

  &:hover {
    background-color: @dark-primary-color;
    cursor: pointer;
    transform: scale(1.1);
  }

  &:focus {
    outline: none !important;
  }

  &:active {
    transform: scale(1);
  }
}

.glyphicon {
  font-size: 20px;
  color: @dark-secondary-color;

}.instruction-variable {
   padding: 8px;
   margin: 8px;
   border-radius: 4px;

   background-color: #F8B57A;
 }

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;

  & > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 28px;
    top: 48%;
    transform: translateY(-50%);
  }
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  font-size: 28px;
}

.form-actions {
  display: flex;
  max-width: 200px;

  & Link,button {
    padding: 10px
  }

  & a {
    margin-bottom: auto;
    margin-top: auto;
  }
}

.modal-footer .btn {
  margin-top: unset;
}

.thead-primary {
  background-color: @primary-color;
  color: #fff;
}

.vertical-dots {
  width: 100%;
  height: 50px;
  background-image: radial-gradient(circle at center, @dark-grey-color 3px, transparent 1px);
  background-size: 100% 30%;
}

.no-item-placeholder {
  text-align: center;
  color: @dark-grey-color;
}
