@import "loading-wheel.css";

@primary-color: #FA9539;
@secondary-color: #32BCDB;
@background-color: #F0EAE1;
@dark-primary-color: #E37A1D;
@light-primary-color: #F8B57A;
@dark-secondary-color: #04588F;
@dark-grey-color: #444;
@light-grey-color: #EEE;

html, body {
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;

  & .fixed-alert {
    position: fixed;
    width: 100%
  }
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: @background-color;

  & .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;

    & .navbar {
      width: 100%;
      background-color: @primary-color;
      height: 85px;
      display: flex;
      flex-direction: row;
      border-radius: 0;
      margin: 0;

      & .navbar-title {
        font-size: 36px;
        font-weight: 700;
        padding-left: 50px;
        width: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        color: white;
      }

      & .navbar-nav {
        margin-top: auto;
        margin-bottom: auto;
        list-style-type: none;

        & .nav-item {
          width: 100px;
          margin-left: auto;
          margin-right: auto;
          display: flex;

          & .nav-button {
            padding: 10px;
            width: 100%;
            text-align: center;
            color: white;
            text-decoration: unset;
          }

          &:hover {
            background-color: @dark-primary-color;
            cursor: pointer;
            border-radius: 5px;
          }
        }
      }

      & .profile-dropdown {
        display: flex;
        margin-left: auto;
        padding-right: 50px;

        .user-menu .dropdown-menu {
          max-height: 0;
          transition: max-height 0.15s ease-out;
          overflow: hidden;
          display: block;
        }

        &:hover .dropdown-menu {
          max-height: 500px;
          transition: max-height 0.25s ease-in;
        }

        & .user-menu {
          margin-top: auto;
          margin-bottom: auto;

          & img {
            vertical-align: middle;
            height: 54px;
            width: 54px;
            border-radius: 50%;
            transition: all .2s ease-in-out;

            &:hover {
              border: 2px solid @dark-secondary-color;
              transform: scale(1.15);
            }
          }

          & .dropdown-menu {
            left: unset;
            right: 0;
            box-shadow: unset;
            border: unset;
            background-color: @primary-color;
            min-width: 190px;
            border-radius: 0 0 0 8px;
            margin: 0 -1px 0 0;
            padding: 0;

            & > li {
              & .glyphicon {
                margin-top: auto;
                margin-bottom: auto;
                color: white;
              }
              & div.item-title {
                padding: 15px 20px;
                color: white;
                background-color: unset !important;
                text-decoration: unset !important;
              }
              & a.item-link {
                display: flex;
                width: 100%;
                background-color: @primary-color;
                &:hover {
                  background-color: @dark-primary-color;
                }
              }
            }

            & > li.divider {
              background-color: white !important;
              margin: 0;
            }
          }
        }
      }
    }
  }

  & div.login-container {
    height: auto;
    margin-bottom: auto;
    margin-top: auto;

    & h2 {
      text-align: center;
      color: @primary-color;
    }

    & button {
      background-color: @primary-color;
      border-color: @primary-color;
      font-weight: bold;
      color: white;
    }

    & .btn-link {
      color: @dark-primary-color;
    }
  }
}

& .basic-page {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 20px;

  & .home-page {
    padding-top: 20px;

    & .level-list {

      & .list-group {
        margin-bottom: 0;

        & .list-item-container {

          & .list-item-header {
            border: 0;

            &:hover {
              background-color: @light-grey-color;
              cursor: pointer;
            }
          }

          & .list-item-details {
            background-color: @light-grey-color;
            display: flex;

            & .list-item-statement {
              margin-bottom: 0;
              border-radius: 0;
              border: 0;
              -webkit-box-shadow: none;
              box-shadow: none;
              background-color: unset;
              text-align: justify;
            }

            & button.btn {
              margin: auto;
              width: 72px;
              height: 72px;
            }
          }
        }
      }
    }

    & button.create-level-button {
      position: fixed;
      bottom: 5%;
      right: 5%;
      width: 64px;
      height: 64px;
    }
  }

  & .level-page {
    padding: 0;

    & .level-page-row {
      width: 100%;
      margin: 0;

      & .playground {
        height: 100%;
        background-color: #32BCDB;
        padding: 0;
      }

      & .scrolling-panel {
        padding: 0;

        & .statement {
          background-color: #23E698;
        }

        & .generated-code {
          background-color: #AAF000;
        }

        & .submission {
          background-color: #F8B57A;
        }
      }
    }
  }
}

& button.circle-button {
  border-radius: 50%;
  background-color: @primary-color;
  transition: all .2s ease-in-out;

  & span {
    color: white;
    font-size: 2em;
    padding-left: 8%;
  }

  &:hover {
    background-color: @dark-primary-color;
    cursor: pointer;
    transform: scale(1.1);
  }

  &:focus {
    outline: none !important;
  }

  &:active {
    transform: scale(1);
  }
}

& .page-title {
  text-align: center;
}
